<h1>Welcome <%= current_user.email %>!</h1>

<p><%= button_to 'Explore National Parks', '/explore', method: :get %></p>

<div id="current_trip">
  <h2>Current Trip</h2>
  <% current_user.current_trips.each do |trip| %>
  <div id="current-trip-<%= trip[:id] %>">
    <p><%= link_to trip[:name], "/trips/dashboard/#{trip[:id]}" %></p>
  </div>
    <% end %>
</div>

<div id="upcoming_trips">
  <h2>Upcoming Trips</h2>
  <% current_user.upcoming_trips.each do |trip| %>
  <div id="upcoming-trip-<%= trip[:id] %>">
    <p><%= link_to trip[:name], "/trips/dashboard/#{trip[:id]}" %></p>
  </div>
    <% end %>
</div>

<div id="past_trips">
  <h2>Past Trips</h2>
  <% current_user.past_trips.each do |trip| %>
  <div id="past-trip-<%= trip[:id] %>">
    <p><%= link_to trip[:name], "/trips/dashboard/#{trip[:id]}" %></p>
  </div>
    <% end %>
</div>

<div id="friends">
  <h2>Friends</h2>
  <% current_user.friends.each do |friend| %>
  <p><%= friend[:email] %></p>
  <% end %>
</div>

<%= form_with url: '/friendships/new', method: :post do |f| %>
  <%= f.label 'Add Friends' %>
  <%= f.text_field :friends, placeholder: 'Enter Friends Email' %>
  <%= f.submit 'Submit' %>
<% end %>
