<h1>Category: <%= @checklist.category %></h1>
<hr><br>

<%= form_with url: "/trips/dashboard/#{@trip_id}/checklist/#{@checklist_id}/checklist_items", method: :post, local: true do |f| %>
  <%= f.hidden_field :name, value: "New Item" %>
  <%= f.submit "Create New Item" %>
<% end %>

<br>

<section id="items">
  <ol>
    <% @checklist.item_list.each do |item| %>
      <li>
        <%= form_with url: "/trips/dashboard/#{@trip_id}/checklist/#{@checklist_id}/checklist_items/#{item.id}", method: :patch, local: true do |f| %>
          <%= f.text_field :name, value: "#{item.name}" %> Assigned To: <%= item.user_email %><br>
          <%= f.submit "Edit Name" %>
        <% end %>
        <%= form_with url: "/trips/dashboard/#{@trip_id}/checklist/#{@checklist_id}/checklist_items/#{item.id}", method: :delete, local: true do |f| %>
          <%= f.submit "Delete Item" %>
        <% end %>
      </li>
      <br>
    <% end %>
  </ol>
</section>