<%= form_with url: trips_dashboard_path(@trip_id), method: :patch, local: true do |f| %>
  <%= f.text_field :name, value: @trip.name %>
  <%= f.submit "Update Trip Name" %>
<% end %>

<h3><%= @trip.park_name %></h3>

<section id ="travel-dates">
<h3>Travel Dates</h3>
  <%= form_with url: trips_dashboard_path(@trip.id), method: :patch, local: true do |f| %>
    <%= f.label :start_date, "Start Date:" %>
    <%= @trip.format_date(@trip.start_date) %>
    <%= f.date_field :start_date, { value: @trip.format_date(@trip.start_date) } %><br><br>
    <%= f.label :end_date, "End Date:" %>
    <%= @trip.format_date(@trip.end_date) %>
    <%= f.date_field :end_date, { value: @trip.format_date(@trip.end_date) } %><br><br>
    <%= f.submit "Update start/end dates" %><br><br>
<% end %>
</section>

<div id="weather">
  <h2>Weather Forecast</h2>
</div>

<div id="accommodations">
  <h2>Accommodations</h2>
  <p><%= button_to 'Create', new_trips_dashboard_accommodation_path(@trip_id), method: :get %></p>
  <ol>
    <% @trip.accommodations.each do |accommodation| %>
      <li id="accommodation-<%= accommodation[:id] %>"><%= link_to accommodation[:name], trips_dashboard_accommodation_path(@trip_id, accommodation[:id]) %></li>
    <% end %>
  </ol
</div>

<div id="checklists">
  <h2>Trip Checklist(s)</h2>
  <%= form_with url: trips_dashboard_checklist_index_path(@trip_id), method: :post, local: true do |f| %>
    <%= f.label :category, "New Checklist Name:" %>
    <%= f.text_field :category %>

    <%= f.submit "Create Checklist" %>
  <% end %>

  <ol>
    <% @trip.checklists.each_with_index do |checklist, index| %>
      <li id="checklist-<%= index += 1 %>"><%= link_to checklist[:category], trips_dashboard_checklist_path(@trip_id, checklist[:id]) %></li>
    <% end %>
  </ol
</div>

<div id="friends_joining">
  <h2>Friends Joining</h2>
</div>
