<h1>Trip Name</h1>

<h3>National Park Name</h3>
<h3>Travel Dates</h3>

<div id="weather">
  <h2>Weather Forecast</h2>
</div>

<div id="accommodations">
  <h2>Accommodations</h2>
  <p><%= button_to 'Edit', '#' %></p>
</div>

<div id="activities">
  <h2>Activities</h2>
  <p><%= button_to 'Edit', '#' %></p>
</div>

<div id="checklists">
  <h2>Trip Checklist(s)</h2>

  <%= form_with url: trips_dashboard_checklist_index_path(17), method: :post, local: true do |f| %>
    <%= f.label :name, "New Checklist Name:" %>
    <%= f.text_field :name %>

    <%= f.submit "Create Checklist" %>
  <% end %>

  <ol>
    <% @checklists.each.with_index do |checklist, index| %>
      <li id="checklist-<%= index += 1 %>"><%= link_to checklist.name, trips_dashboard_checklist_path(@trip_id, checklist.id) %> | item count: <%= checklist.item_count %></li>
    <% end %>
  </ol
</div>

<div id="chat">
  <h2>Message Board/Chat</h2>
</div>

<div id="friends_joining">
  <h2>Friends Joining</h2>
</div>
