<h1 style="text-align:center;">Find Your Next Destination</h1>
<br>

<div id="state-search" align="center" class="mb-3">
  <% if params[:sort].nil? %>
    <%= render 'search_state' %>
  <br>
  <% end %>
</div>

<div id="activity-search" align="center" class="mb-3">
  <% if params[:sort].nil? %>
    <%= render 'search_activity' %>
  <br>
  <% end %>
</div>

<div id="search-results">
  <h2 style="text-align:center;">Search Results</h2>

  <% if params[:state] %>
    <% @state.each do |park| %>
    <p style="text-align:center;">
      <%= link_to park.name,  parks_show_path(park.id) %>
      <br>
      <img src="<%= park.image %>", alt="<%= park.name %> photo", style="max-width: 450px; max-height: 300px" >
    </p>
    <% end %>
  <% elsif params[:activity] %>
    <% @activity.each do |park| %>
    <p style="text-align:center;">
      <%= link_to park.name, parks_show_path(park.id) %>
      <br>
      <img src="#", alt="<%= park.name %> photo", style="max-width: 450px; max-height: 300px" >
    </p>
    <% end %>
  <% else %>
    <p style="text-align:center;">No Search Results to Display</p>
  <% end %>
