<h1 style="text-align:center;">Find Your Next Destination</h1>
<br>

<div id="option1" align="center" class="mb-3">
  <% if params[:sort].nil? %>
    <%= render 'search_state' %>
  <br>
    <%= render 'search_activity' %>
  <br>
  <% end %>
</div>

<div id="parks" align="center">
  <h2>List of National Parks</h2>
    <% @parks.each do |park| %>
    <p>
      <%= link_to "#{park.name}", '#' %>
      (<%= park.state %>)<br>
      <img src="<%= park.image %>", alt="<%= park.name %> photo", style="max-width: 450px; max-height: 300px" >,
    </p>
    <% end %>
</div>
